@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::after::before {
    box-sizing: border-box;
}

:root {
    --first-color: #e3f8ff;
    --second-color: #dcfafb;
    --third-color: #ffe8df;
    --accent-color: #ff5151;
    --dark-color: #161616;
    --body-font: "Poppins", "sans-serif";
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
    :root {
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

body {
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}

h1 {
    font-size: var(--h1-font-size);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

main {
    padding: 2rem 0;
}

.bd-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

.title {
    position: relative;
    margin: 0 2.5rem;
}

.title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: 0.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

.card:nth-child(1) {
    background-color: var(--first-color);
}

.card:nth-child(2) {
    background-color: var(--second-color);
}

.card:nth-child(3) {
    background-color: var(--third-color);
}

.card:nth-child(4) {
    background-color: var(--second-color);
}

.card-img {
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: 0.5s;
}

.card-name {
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.card-icon {
    font-size: 1.5rem;
    color: var(--dark-color);
}

.card-icon:hover {
    color: var(--accent-color);
}

.card-prices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: 0.5s;
}

.card-price {
    display: block;
    text-align: center;
}

.card-price--before {
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: 0.25rem;
}

.card-price--now {
    font-size: var(--h3-font-size);
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem #d1d9e6;
}

.card:hover .card-name {
    left: 0;
}

.card:hover .card-img {
    transform: rotate(30deg);
    margin-left: 3.5rem;
}

.card:hover .card-prices {
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

@media screen and (min-width: 1200px) {
    body {
        margin: 3rem 0 0 0;
    }

    .title {
        margin: 0 5rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}
